<div class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">

    <div class="w-100">
      <h2 class="mb-5">Education</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Coimbatore Institute of Technology</h3>
          <div class="subheading mb-3">Masters in Software Engineering </div>
          <!-- <div>Computer Science - Web Development Track</div> -->
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">July 2009 - May 2014</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
          <h3 class="mb-0">Bharathi Matriculation Higher Secondary School</h3>
          <div class="subheading mb-3">Computer Science</div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">June 1994 - May 2009</span>
        </div>
      </div>

    </div>
    
  </div>