<div class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
  <div class="w-100">
    <h1 class="mb-0">Sujai
      <span class="text-primary">Sureshbabu</span>
    </h1>
    <div class="subheading mb-5">Victoria Park ,Toronto ,Canada ·
      <a href="mailto:name@email.com">sujaisuresh23@gmail.com</a><br>
      <label> Contact : +1(647) 498-4947</label>
    </div>
    <p class="lead mb-5">I am experienced in Software Development using Microsoft Technology Stack.
      I have developed both Windows and Web based applications.
      I have also worked on creating Micro-Services for data driven applications .</p>
      <p>5.5 years of experience in developing Windows & Web Applications
         as per the Coding Standards in different domains like<b> Insurance, E-Learning & Healthcare.</b>
          <br/>
          ➢ I'm a Microsoft Certified Professional (MCP) for <b>Programming in C#.</b><br/>
          ➢ Having experience in working on all phases of the Software Development Life Cycle (SDLC) using Waterfall
          and Agile Methodologies.<br/>
          ➢Strong Experience in design and development of Windows desktop & Web-based applications using C#, .NET
Framework (4.5), WCF, WPF, WinForms, ADO.NET, Entity Framework, SSIS, AngularJS, Html5,
Bootstrap.<br/>
          Good experience on advanced SQL, Stored procedures, functions and also Data Transformation/Integration Tools
          like SSIS (SQL Server Integration Services).<br/>
          ➢ Good knowledge of OOPS concept and LINQ to minimize the complex code.<br/>
          ➢ Hands on experience in PRISM & Unity framework.<br/>
          ➢ Experience in continuous integration tools such as Microsoft VSTS and CruiseControl.Net and TeamCity.<br/>
          ➢ Hands on experience in using tools such as Jira, Confluence, Stash.<br/>
          ➢ Experience with TFS (Team Foundation Server) and GIT Repository.<br/>
          ➢ Excellent analytical, problem-solving and interpersonal skills. Ability to learn new things quickly and with keen
          focus.<br/>
          ➢ Consistent team player with excellent verbal and written communication skills.<br/>
        
        
        </p>

    <div class="social-icons">
      <a href="https://www.linkedin.com/in/sujaisuresh/">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <!-- <a href="#">
        <i class="fab fa-github"></i>
      </a> -->
      <a href="https://twitter.com/sujai58364461">
        <i class="fab fa-twitter"></i>
      </a>
      <!-- <a href="#">
        <i class="fab fa-facebook-f"></i>
      </a> -->
    </div>
  </div>
</div>