<div class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
  <div class="w-100">
    <h1 class="mb-0">Sujai
      <span class="text-primary">Sureshbabu</span>
    </h1>
    <div class="subheading mb-5">F-09 ,Vintage Elite Appartments ,Bangalore ·
      <a href="mailto:name@email.com">sujaisuresh23@gmail.com</a>
    </div>
    <p class="lead mb-5">I am experienced in Software Development using Microsoft Technology Stack.
      I have developed both windows and web based applications.
      I have also worked on creating services for data driven applications .</p>
    <div class="social-icons">
      <a href="#">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="#">
        <i class="fab fa-github"></i>
      </a>
      <a href="#">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fab fa-facebook-f"></i>
      </a>
    </div>
  </div>
</div>