<div class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
  
  <div class="w-100">
    <h2 class="mb-5">Experience</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Senior Software Engineer</h3>
        <div class="subheading mb-3">Siemens Healthineers</div>
        <p>Full stack Application Development for medical devices using Microsoft technology stack such as C# , AngularJs ,Azure ,WebApi ,NodeJs ,UnderscoreJs . </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Oct 2018 - Present</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Senior Software Engineer</h3>
        <div class="subheading mb-3">Samsung </div>
        <p>Developed Micro-services to be consumed by mobile applications, using Microsoft technology stack such as Docker , C# , WebApi , Azure Sql Database to be consumed by applications . </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">April 2017 - Oct 2018</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">System Engineer</h3>
        <div class="subheading mb-3">Tata Consultancy Services</div>
        <p>Application development and Testing for XL Catlin using C# .Net ,Entity Framework,WPF,WCF,Linq , SQL and ETL using SSIS Scripts, AngularJs and WebApi</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">July 2014 - April 2017</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h3 class="mb-0">Software Developer</h3>
        <div class="subheading mb-3">Knolskape</div>
        <p>Development of Agregated Reports for Several e-Learning Modules (using Php , MySql , JavaScript , Ajax) & Creation of e-Learning modules (using Articulate)</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Nov 2013 - May 2014</span>
      </div>
    </div>

  </div>

</div>