<div class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">

  <div class="w-100">
    <h2 class="mb-5">Experience</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Design and Development Engineer</h3>
        <div class="subheading mb-3">Siemens Healthineers</div>
        <p>This project facilitates processing of DICOM Images such as X-Rays , CT ,
          MR etc from the modalities and also acts as a gateway in communicating to the PACS and
          cloud and vice versa. This project is developed using AngujarJS ,Html5 ,CSS ,NodeJS in the front-end and
          Asp.Net WebApi in the back-end </p>
        <h4>Responsibilities</h4>
        <ul>
          <li>Developed User interface components for business functionalities using Html5, AngularJS, UnderscoreJs</li>
          <li>Developed API's using Asp.Net WebApi to interact with UI and perform operations on data.</li>
          <li>Developed Windows services to perform client-side service operations.</li>
          <li>Used Azure Service Bus to communicate between client and server using message queues and to decouple
            applications and services from each other. VSTS and GIT are used as source control.</li>
          <li>Implemented unit test cases using NUnit and Moq framework and Behavioral Driven Test cases using SpecFlow.
          </li>
          <li>Used Auth0 for JWT based authentication to WebApi's.</li>
          <li>Worked on Azure features - Log Analytics, API Management Services, VM Management, Blob Storage management,
            etc.</li>

        </ul>

      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Oct 2018 - Present</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Senior Software Engineer</h3>
        <div class="subheading mb-3">Samsung </div>
        <p>Developed Micro-services to be consumed by mobile applications, using Microsoft technology stack such as
          Docker , C# , WebApi , Azure Sql Database to be consumed by applications .
        </p>
        <h4>Responsibilities</h4>
           <ul>
             <li>Designed User Interface Components using XAML (WPF) and provided business logic, following the MVVM
              pattern.
			  </li>
            <li>Used Prism framework to build a robust and modular WPF application and perform view injection, view
              navigation, etc. Used Unity framework to perform dependency injection.
			  </li>
            <li>Implemented Business logic using C# to perform necessary functionalities and created Stored Procedures
              to
              perform complex database operations.
			  </li>
            <li>Developed Microservices to be consumed by mobile application using In-House FoRest framework</li>
            <li>Actively Involved in sprint planning meetings to estimate story points using poker cards.</li>
          </ul>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">April 2017 - Oct 2018</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">System Engineer</h3>
        <div class="subheading mb-3">Tata Consultancy Services</div>
        <p>Application development and Testing for XL Catlin using C# .Net ,Entity Framework,WPF,WCF,Linq , SQL and ETL
          using SSIS Scripts, AngularJs and WebApi</p>
          <h4>Responsibilities</h4>
          <ul>
            <li>Designed UI Components using XAML (WPF) and providing business logic, following the MVVM pattern.</li>
      <li>Developed SQL Server Stored Procedures, User-Defined Functions, etc. that are required for the application.</li>
     <li>Involved in Data Management activities such as extracting latest as well as historical data from various Data
     Sources, transforming it to appropriate formats and standards for application’s usage using SSIS.</li>
     <li>Implemented Threading concept for performance optimization.</li>
     <li>Used Entity Framework Model with Database-First Approach for object-relational mapping.</li>
     <li>Used LINQ to entities to query the database objects and manipulate data.</li>
     <li>Developed and consumed WCF Services for the application specific requirements.</li><br/>
<label><b>Risk Rating</b></label>
     <li>Designed and Developed UI components using Razor views</li>
     <li>Used AngularJs framework to bind UI with entity framework and performed required operations for events from
     the view using angular controllers.</li>
     <li>Developed different API's to perform operations on data and provided data to the front-end.</li>
     <li>Designed routing configuration for WebApi.</li>
     <li>Handled complete integration between frontend to the backend for business functionality.</li> 
   </ul>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">July 2014 - April 2017</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h3 class="mb-0">Software Developer</h3>
        <div class="subheading mb-3">Knolskape</div>
        <p>Development of Agregated Reports for Several e-Learning Modules (using Php , MySql , JavaScript , Ajax) &
          Creation of e-Learning modules (using Articulate)</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Nov 2013 - May 2014</span>
      </div>
    </div>

  </div>

</div>