<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
    <div class="w-100">
      <h2 class="mb-5">Interests</h2>
      <p>Apart from being a Software developer, I enjoy my time watching Hollywood Television series , playing mobile games and hanging out with friends. Also i like long drive and cold weather..</p>
      <p class="mb-0"> I follow a number of sci-fi and fantasy genre movies , I also would like to cook sometimes and also like to lookout for emerging gadgets and technologies</p>
    </div>
  </section>