<div class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
    <div class="w-100">
      <h2 class="mb-5">Awards &amp; Certifications</h2>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          Microsoft Certified Professional</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          Award from samsung for Commitment and Ontime Delivery</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          1<sup>st</sup>
          Received Highest performers band in FY 2015 and FY 2016</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          1<sup>st</sup>
          Received Certificate from IBM for developing graph Datastructure for HPC</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          2<sup>nd</sup>
          Karate Black Belt Champion</li>
      </ul>
    </div>
  </div>
